.App {
  text-align: center;
  min-width: 100vw;
  max-width: 200vw;
}


.App-header {
  background-color: #303030;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  font-weight: bold;
}

.App-body{
  background-color: #282c34;
  max-height: 200vh;
  min-height:90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.g,.w,.o,.y,.r,.b{
  height: 6vmin;
  width:6vmin;
;
}

.g, .cg,.cug{
  background: #00ff00;

}

.w, .cw,.cuw{
  background: #ffffff;

}
.o, .co,.cuo{
  background: #ff5e00;
}
.y, .cy,.cuy{
  background: #ffff00;

}
.r, .cr,.cur{
  background: #ff0000;
}

.b, .cb,.cub{
  background: #0000ff;
}

.cg,.cw,.co,.cy,.cr,.cb{
  
  width: 12vh;
  height: 12vh;
  border:0.5vh solid black;
  border-radius: 3vw;
}
.cug,.cuw,.cuo,.cuy,.cur,.cub{
  width: 10vw;
  height: 10vh;
  border-radius: 3vw;
}

.button{
  width: 5vh;
  height: 5vh;
  border-radius: 0.5vh;
  border:0.3vmin solid black;
  background:white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  font-weight: bolder;
}

.boardAndButtons{
  width:100vw;
  height:70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonCell{
  white-space: nowrap;
  overflow-x: auto;
  border:0.1vmin solid white;
  border-radius: 1vmin;
}

.mobileNavBarAvoid{
  height: 5vh;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .cg,.cw,.co,.cy,.cr,.cb{
    width: 10vh;
    height: 10vh;
    border:0.5vh solid black;
    border-radius: 3vh;
  }
  .cug,.cuw,.cuo,.cuy,.cur,.cub{
    width: 9vh;
    height: 9vh;
    border-radius: 3vh;
  }
 

  .button{
    width: 8vh;
    height: 8vh;
    border-radius: 0.5vh;
    border:0.4vmin solid black;
    background:white;
    color: black;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: bolder;
  }
  .boardAndButtons{
    width:50vw;
    height:75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2vmin;
  }
  .buttonCell{
    border-radius: 1vmin;
    border:0 solid white
    
  }

  .mobileNavBarAvoid{
    height: 0;
  }
  
  

}