.App {
  text-align: center;
  min-width: 100vw;
  max-width: 200vw;
}


.App-header {
  background-color: #303030;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  font-weight: bold;
}
.Sub-App-Header{
  font-size: 3vmin;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
}

.App-body{
  background-color: #282c34;
  /* max-height: 200vh; */
  min-height:90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.g,.w,.o,.y,.r,.b,.Ng,.Nw,.No,.Ny,.Nr,.Nb{
  height: 6vmin;
  width:6vmin;
;
}

.g,.Ng, .cg,.cug{
  background: #00ff00;

}

.w,.Nw, .cw,.cuw{
  background: #ffffff;

}
.o,.No, .co,.cuo{
  background: #ff5e00;
}
.y,.Ny, .cy,.cuy{
  background: #ffff00;

}
.r,.Nr, .cr,.cur{
  background: #ff0000;
}

.b,.Nb, .cb,.cub{
  background: #0000ff;
}

.cg,.cw,.co,.cy,.cr,.cb{
  
  width: 12vh;
  height: 12vh;
  border:0.5vh solid black;
  border-radius: 3vw;
}
.cug,.cuw,.cuo,.cuy,.cur,.cub{
  width: 10vw;
  height: 10vh;
  border-radius: 3vw;
}

.button{
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 0.5vh;
  border:0.3vmin solid black;
  background:white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  font-weight: bolder;
}

.solvebutton{
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 0.5vh;
    border:0.3vmin solid black;
    background:green;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
    font-weight: bolder;
}

.boardAndButtons{
  width:100vw;
  height:68vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonCell{
  white-space: nowrap;
  overflow-x: auto;
  border:0.1vmin solid white;
  border-radius: 1vmin;
}

.mobileNavBarAvoid{
  height: 5vh;
}

.errorMessage{

  font-size: 0vh;
  opacity: 0;
  width: 0vh;
}
.errorContainer{
  height: 0vh;
}

.mobileErrorMessage{
    color: #ff0000;
    font-family: monospace;
    font-size: 1vh;
    opacity: 0;
}
.mobileErrorContainer{
  height: 2vh;
}
.solution{
  width:70vw;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;

}
.solutionHeading{
  width: 100%;
  background: darkslategray;
  height:8vmin
}
.solutionSubHeading{
  background: dimgray;
  width: 100%;
}
.steps{
  width: 100%;
}

.solutiontrue{
  background: silver;
  width:100%;
}
.solutionfalse{
  background: grey;
}

 .turnText{
  width:30%
  }


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .cg,.cw,.co,.cy,.cr,.cb{
    width: 10vh;
    height: 10vh;
    border:0.5vh solid black;
    border-radius: 3vh;
  }
  .cug,.cuw,.cuo,.cuy,.cur,.cub{
    width: 9vh;
    height: 9vh;
    border-radius: 3vh;
  }
 
  .Sub-App-Header{
    font-size: calc(1vmin);
  }

  .button{
    width: 8vh;
    height: 8vh;
    border-radius: 0.5vh;
    border:0.4vmin solid black;
    background:white;
    color: black;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: bolder;
  }

  .solvebutton{
    width: 18vh;
    height: 8vh;
    border-radius: 0.5vh;
    border:0.4vmin solid black;
    background:grey;
    color: black;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: bolder;
}
  .boardAndButtons{
    width:50vw;
    height:75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2vmin;
  }
  .buttonCell{
    border-radius: 1vmin;
    border:0 solid white
    
  }

  .mobileNavBarAvoid{
    height: 0;
  }

  .errorMessage{
    color: #ff0000;
    font-family: monospace;
    font-size: 1vh;
    opacity: 0;
    width: 18vh;
  }
  .errorContainer{
    height: 5vh;
  }
  .mobileErrorMessage{
   font-size: 0vh;
    opacity: 0;
    width: 0vh;
}
.turnIcon{
  width:30%;
  }
  .turnText{
  width:70%
  }

.subHeadingImage{
    width:30%
  }
  .subHeadingText{
    width: 70%;
  }
}